In [12]:
import  pandas as pd

In [13]:
sales=pd.read_csv("Sales.csv")
customers=pd.read_csv("Customers .csv", encoding='ISO-8859-1')
exchangerates=pd.read_csv("Exchange_Rates.csv")
products=pd.read_csv("Products.csv")
stores=pd.read_csv("Stores.csv")

In [14]:
sales.columns

Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code'],
      dtype='object')

In [15]:
customers.columns

Index(['CustomerKey', 'Gender', 'Name', 'City', 'State Code', 'State',
       'Zip Code', 'Country', 'Continent', 'Birthday'],
      dtype='object')

In [16]:
exchangerates.columns

Index(['Date', 'Currency', 'Exchange'], dtype='object')

In [17]:
products.columns

Index(['ProductKey', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category'],
      dtype='object')

In [18]:
stores.columns

Index(['StoreKey', 'Country', 'State', 'Square Meters', 'Open Date'], dtype='object')

In [22]:
merged_data .head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD,Male,Tyler Vaught,London,ON,Ontario,N5W 5K6,Canada,North America,3/23/1971
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,11/20/1995
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,11/20/1995
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,8/24/1962
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,8/24/1962

In [26]:
import pandas as pd

# Assuming 'merged_data' is already created

# Convert 'Birthday' column to datetime, handling different date formats
merged_data['Birthday'] = pd.to_datetime(merged_data['Birthday'], errors='coerce', infer_datetime_format=True)

# Calculate the customer's age based on the birthday column
merged_data['age'] = (pd.to_datetime('today') - merged_data['Birthday']).dt.days // 365

# Optionally, preview the merged dataset
print(merged_data.head())

# Save the merged dataset to a CSV file
merged_data.to_csv('merged_data_x.csv', index=False)

print("Merged dataset saved to 'merged_data.csv'")

C:\Users\Deepak\AppData\Local\Temp\ipykernel_25144\1590300273.py:6: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  merged_data['Birthday'] = pd.to_datetime(merged_data['Birthday'], errors='coerce', infer_datetime_format=True)

   Order Number  Line Item Order Date Delivery Date CustomerKey  StoreKey  \
0        366000          1   1/1/2016           NaN      265598        10
1        366001          1   1/1/2016     1/13/2016     1269051         0
2        366001          2   1/1/2016     1/13/2016     1269051         0
3        366002          1   1/1/2016     1/12/2016      266019         0
4        366002          2   1/1/2016     1/12/2016      266019         0

   ProductKey  Quantity Currency Code  Gender            Name      City  \
0        1304         1           CAD    Male    Tyler Vaught    London
1        1048         2           USD    Male  Frank Upchurch   Auberry
2        2007         1           USD    Male  Frank Upchurch   Auberry
3        1106         7           CAD  Female      Joan Roche  Red Deer
4         373         1           CAD  Female      Joan Roche  Red Deer

  State Code       State Zip Code        Country      Continent   Birthday  \
0         ON     Ontario  N5W 5K6         Canada  North America 1971-03-23
1         CA  California    93602  United States  North America 1995-11-20
2         CA  California    93602  United States  North America 1995-11-20
3         AB     Alberta  T4N 2A6         Canada  North America 1962-08-24
4         AB     Alberta  T4N 2A6         Canada  North America 1962-08-24

    age
0  53.0
1  29.0
2  29.0
3  62.0
4  62.0
Merged dataset saved to 'merged_data.csv'

In [33]:
merged_data.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday,age
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD,Male,Tyler Vaught,London,ON,Ontario,N5W 5K6,Canada,North America,1971-03-23,53.0
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20,29.0
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20,29.0
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,62.0
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,62.0

In [30]:
sales.columns

Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code'],
      dtype='object')